*{
	border: 1px solid black;
}

#container {
	height: 700px;
	width: 375px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

#container h1{
	margin-top: 10%;
	margin-bottom: 20%;
}

#event-detail:hover {
	color: white;
}