<div id='container'>
  <div id='header'>
    <button (click)="logout()">Logout</button>
    <br>
  </div>

      <div id='back'>
	<a href='/list'>Back to list</a>
	</div>

<h1>{{event.name}}</h1>
<img id='event-detail' src="{{event.image_url}}" width="270" height="270"/>
<br>
<span class="price">${{event.price}}</span>
<br>
<div>{{event.location}}</div>
<br>
<div id='email'>
<img src='http://www.freeiconspng.com/uploads/iconmonstr-email-4-icon-27.png' width='20' height='20'/>
<a class="button" id="button" href="mailto:email@address.com">Invite a friend</a>
</div>
<br>

<div id='ticket'>
<img src='https://d30y9cdsu7xlg0.cloudfront.net/png/29897-200.png' width='20' height='20'/>
<a href='http://www.ticketmaster.com/search?q={{event.name}}' target='_blank'>Buy tickets</a>
</div>



</div>




