
#container {
	height: 700px;
	width: 375px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	border: 1px solid black;
}

#container h1{
	margin-top: 20%;
	margin-bottom: 20%;
}

.table-row {
	border: .5px solid grey;
}

th, td {
	text-align: left;
}