
<div id='container'>

  <div id='header'>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Droid+Serif|Istok+Web|PT+Sans|Pontano+Sans|Slabo+27px|Spectral" rel="stylesheet">
    <button (click)="logout()">Logout</button>
  </div>

  <div id='title'>
    <h1>Event List</h1>
    <h5>2017-2018</h5>
  </div>

  <div id='search'>
    <input [(ngModel)]='search' class='search-input' name='location' placeholder='Search'/>
    <button class='search-btn' (click)='searchLocation()'>Search</button>
  </div>

  <div id='new-post-container'>
    <button id='new-post' (click)='showPostForm = !showPostForm'>New</button>
      <div *ngIf='showPostForm'>
        <input [(ngModel)]='newEvent.name' placeholder='Name'/>
        <input [(ngModel)]='newEvent.company_hosting' placeholder='Venue'/>
        <input [(ngModel)]='newEvent.price' placeholder='Price'/>
        <input [(ngModel)]='newEvent.location' placeholder='City'/>
        <input [(ngModel)]='newEvent.event_date' placeholder='Date'/>
        <input [(ngModel)]='newEvent.image_url' placeholder='Image URL'/>
        <button class='add-btn' (click)='postEvent()'>Add Event</button>
      </div>
  </div>

  <div id='change-post-container'>
      <div *ngIf='showPatchForm'>
        <input [(ngModel)]='updateEvent.name' placeholder='Name'/>
        <input [(ngModel)]='updateEvent.company_hosting' placeholder='Venue'/>
        <input [(ngModel)]='updateEvent.price' placeholder='Price'/>
        <input [(ngModel)]='updateEvent.location' placeholder='City'/>
        <input [(ngModel)]='updateEvent.event_date' placeholder='Date'/>
        <input [(ngModel)]='updateEvent.image_url' placeholder='Image URL'/>
        <button class='change-btn' (click)='patchEvent()'>Change</button>
      </div>
  </div>

  <table>
    <tr>
    	<th></th>
      <th class='properties'>Name</th>
      <th class='properties'>Venue</th>
      <th class='properties'>Price</th>
      <th class='properties'>City</th>
      <th class='properties'>Date</th>
    </tr>

    <tr *ngFor="let event of events">
    	<td (click)="goToEvent(event)"><img src="{{event.image_url}}" width="30" height="30"></td>
      <td  class='table-row'>{{event.name}}</td>
      <td  class='table-row'>{{event.company_hosting}}</td>
      <td  class='table-row'>{{event.price}}</td>
      <td  class='table-row'>{{event.location}}</td>
      <td  class='table-row'>{{event.event_date}}</td>
      <button class='del-btn' (click)='deleteEvent(event)'>Del</button>
      <button class='edit-btn' (click)='editEvent(event)'>Edit</button>
    </tr>
  </table>

</div>
