* {
	font-family: 'PT Sans', sans-serif;
}


#container {
	height: 900px;
	width: 375px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	border: 1px solid lightgrey;
	background-image: url('http://www.powerpointhintergrund.com/uploads/2017/05/light-blue-gradient-background-light-blue-gradient-png-15.png')
}


#title {
	margin-top: 10%;
	text-align: center;	
}


h1, h2 {
	text-transform: uppercase;
}


#new-post-container {
	margin: 0 auto;
	padding-bottom: 10px;
}


#change-post-container{
	margin: 0 auto;
	padding-bottom: 10px;
}


.table-row {
	border: .1px solid white;
	font-size: 11px;
}


th, td {
	text-align: left;
}


input {
	width: 90px;
	margin: .2%;
}


table {
	border-spacing: 0px;
}


.properties {
	background-color: #A1C7EB;
	text-align: center;
}


#new-post, .add-btn {
  	background-color:#76b883;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	padding:2px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-left: -3px;
}


#new-post:hover, .add-btn:hover {
  	background: #bdc4c9;
  	text-decoration: none;
}


.search-btn, .del-btn, .edit-btn {
  	background-color:#759ad1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	padding:2px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.search-btn:hover, .del-btn:hover, .edit-btn:hover {
  	background: #bdc4c9;
  	text-decoration: none;
}


#search{
	flex-direction: row;
	margin-bottom: 35px;
	width: 100px;
}


.search-btn {
	text-align: center;
	margin-left: 20px;
}


.change-btn {
	background-color: #CD8187;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	padding:2px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.change-btn:hover {
	background: #bdc4c9;
  	text-decoration: none;
}


#header {
	text-align: left;
	margin-top: 10px;
	padding-left: 303px;
}


#new-post {
	align-item: center;
}


img {
	margin-left: 20px;
	margin-right: 10px;
}


